input {
  &:-webkit-autofill,
  &:-webkit-autofill:hover &:-webkit-autofill:focus {
    background-color: $color-dark-3 !important;
    color: #ffffff !important;
    -webkit-text-fill-color: #ffffff !important;
    box-shadow: 0 0 0px 1000px $color-dark-3 inset !important; 
  }
}
