.wrapper {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.enter-btn {
  outline: none;
  border: none;
  cursor: pointer;

  border-radius: 12px;
  padding: 20px 25px;
  background: #000;

  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #fff;

  min-width: 220px;

  width: 100%;
  max-width: 550px;

  transition: 0.3s;

  &:hover {
    background: #000061;
  }
}
